:root {
  --black: #222222;
  --white: #efefef;
  --color1: #69b2ff;
  --color2: #fdc800;
  --color3: #ff6100;
  --color4: #d20001;
  --color5: #d0d0d0;
  --color6: #e5ffe5;
}

body {
  margin: 0;
  border: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: small;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  color: var(--black);
  background-color: var(--white);
}

::selection {
  background-color: var(--color1);
}

textarea,
input,
select {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  outline: none;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: small;
  font-weight: 400;
  font-style: normal;
}

/* #region : drop down */

.dropbtn {
  padding: 8px;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.3);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content>div {
  padding: 4px 8px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content>div:hover {
  box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.3);
}

.show {
  display: block;
}

/* #endregion */

/* #region : login */

#page_login {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  --s: 100px;
  --c1: #383838;
  --c2: #222222;

  --_g:
    var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%, var(--c1) 36% 44%,
    var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%, var(--c1) 76% 84%, var(--c2) 86% 94%;
  background:
    radial-gradient(100% 100% at 100% 0, var(--c1) 4%, var(--_g), #0008 96%, #0000),
    radial-gradient(100% 100% at 0 100%, #0000, #0008 4%, var(--_g), var(--c1) 96%) var(--c1);
  background-size: var(--s) var(--s);

  display: flex;
  align-items: center;
  justify-content: center;
}

#page_login>div:first-child {
  background-color: var(--white);
  padding: 10px 30px 30px;
  border-radius: 6px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3);
}

#page_login>div:nth-child(2) {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#page_spin {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.container {
  --uib-size: 40px;
  --uib-color: var(--black);
  --uib-speed: 2s;
  --uib-bg-opacity: 0;
  height: var(--uib-size);
  width: var(--uib-size);
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
  will-change: transform;
  overflow: visible;
}

.car {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.track {
  fill: none;
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
  transition: stroke 0.5s ease;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 0, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 75, 150;
    stroke-dashoffset: -25;
  }

  100% {
    stroke-dashoffset: -100;
  }
}

/* #endregion */

/* #region : calendar */

#calendar_tools {
  display: none;
  /* justify-content: end; */
}

#calendar_area {
  overflow-x: auto;
}

#calendar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page_calendar table {
  width: 100%;
  border-collapse: collapse;
}

#page_calendar th {
  border: 1px solid var(--color5);
  text-align: top;
  padding: 4px;
  width: 14.28571%;
}

#page_calendar td {
  border: 1px solid var(--color5);
  text-align: left;
  vertical-align: top;
  padding: 4px;
  width: 14.28571%;
}

#page_calendar th {
  background-color: var(--white);
}

#page_calendar td.transparent {
  color: var(--color5);
}

#page_calendar td.now {
  background-color: var(--color6);
}

#page_calendar td.weekend {
  box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.1);
}

#filter_area {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* #endregion */

/* #region : day */

#day_tools {
  /* display: flex; */
  display: none;
}

#page_day {
  display: none;
}

#day_area {
  overflow-x: auto;
}

#day_header {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page_day table {
  width: 100%;
  border-collapse: collapse;
}

#page_day th,
#page_day td {
  border: 1px solid var(--color5);
  text-align: center;
  padding: 4px;
}

#page_day td:nth-child(2) {
  width: 20px;
  text-align: center;
}

#page_day th {
  background-color: var(--white);
}

#page_day td.transparent {
  color: var(--color5);
}

#page_day td.now {
  background-color: var(--color6);
}

#page_day td.weekend {
  box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.1);
}

.ot {
  background-color: var(--color5);
  padding: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page_add {
  display: none;
}

/* #endregion */

/* #region : color picker */

.colorPicker {
  width: 40px;
  height: 20px;
  border: 1px solid var(--black);
  border-radius: 4px;
}

#color_picker {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 170px;
  padding: 20px;
  border-radius: 6px;
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: var(--white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.picker_row {
  display: flex;
  justify-content: space-around;
}

.picker_row>div {
  padding: 4px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.picker_row>div.select {
  background-color: var(--color1);
}

.picker_row>div:hover {
  box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.3);
}

#picker_grid td {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

#picker_grid td.select {
  box-shadow: inset 0 0 0px 2px var(--black);
}

#colorBox {
  border: 2px solid var(--black);
  outline: 2px solid var(--white);
  outline-offset: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0px;
  position: absolute;
}

#picker_slide {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

#colorRainbow {
  position: relative;
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);
}

#colorRainbow_picker {
  position: absolute;
  width: 0px;
  height: 11px;
  border: 2px solid var(--black);
}

#picker_hex {
  text-align: center;
}

#picker_previous {
  width: 50%;
  height: 20px;
}

#picker_preview {
  width: 50%;
  height: 20px;
}

/* #endregion */

.bold {
  font-weight: 800;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row.gap {
  gap: 4px;
}

.row.gap.top {
  align-items: flex-start;
}

.left {
  text-align: left;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 2px;
}

.col.gap {
  gap: 8px;
}

.col.top {
  justify-content: flex-start;
}

.btn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.3);
}

.box {
  width: 14px;
  height: 14px;
}

.box.circle {
  border-radius: 50%;
}

.group {
  padding: 4px;
  display: flex;
  gap: 10px;
}

.group.space {
  justify-content: space-between;
}

.group>label:first-child {
  font-weight: 800;
  padding: 10px;
}

.modal {
  min-width: 120px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 6px;
  display: none;
  background-color: var(--white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* #region : switch */


/* The switch - the box around the slider */
.switch_container {
  width: 40px;
  height: 20px;
  position: relative;
}

/* Hide default HTML checkbox */
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--color5);
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* The slider */
.slider {
  width: 18px;
  height: 18px;
  position: absolute;
  left: calc(50% - 18px/2 - 10px);
  top: calc(50% - 18px/2);
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked+.switch {
  background-color: var(--color1);
}

.checkbox:checked+.switch .slider {
  left: calc(50% - 18px/2 + 10px);
  top: calc(50% - 18px/2);
}


/* #endregion */

/* #region : check box */

.boxcheck {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color5);
}

.boxcheck:hover {
  box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.3);
}

.boxcheck.check {
  background-color: var(--color1);
}

/* #endregion */

/* #region : color */

.bg_color1 {
  background-color: var(--color1);
}

.bg_color2 {
  background-color: var(--color2);
}

.bg_color3 {
  background-color: var(--color3);
}

.bg_color4 {
  background-color: var(--color4);
}

/* #endregion */